
.row{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    font-size: 35px;
    color:#ECB400;
    padding-left: 30px;
    padding-right: 180px;
    font-style: italic;
   
}

.formgroup{
    margin-left: -15px;
}

.header-content{
    align-self: center;
    color: black;
    padding-right: 60px;   
}
 .search-button{
    width: 180px;
    background-color: #ECB400;
    color: white;
    border: none;
    border-radius: 2px;
    height: 35px;
    font-size: 15px;
    text-align: center;
 }
 .login{
     
    align-self: center;
    background-color:black;
    color:white;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 35px;
    padding: 8px;
    margin-left: 150px;
    font-size: 14px;
    text-align: center;
 }
 .body-container{
     font-size: small; 
 }
 .image-container{
      width: 643px;
 }

.input-fields{
    width: 100%;
    background-color: #F6F6F6 !important;
    
   
}
.input-fields img { 
    position: absolute;
    width: 20px;  
    padding-top: 11px;
    padding-left: 4px;
}

a:link {
    color:black;
    background-color: none;
    text-decoration: none;
}
a:hover {
    color: #ECB400 !important;
    text-decoration: none !important; 
}
.homepage{
    background-color: #F1F3FB;
}
.location-change{
    position: absolute;
    left: 490px;
    width: 33px;
    box-shadow: 0px 3px 3px 0px #ccc;
    background-color: #FFFFFF;
    border: none;
   padding: 6px;
   
}
button:hover{
    font-weight: bold;
}

@media screen  and (max-width:420px){
    h2{
        font-size: 25px;
    }
    h5{
        font-size: small;
    }
    .logo{
        font-size: 35px;
        color:#ECB400;  
        padding-right: 130px;  
    }
    .row{
        display: flex;
        flex-wrap: wrap;            
    }
    .header-container{
        width: auto;
        box-shadow: 1px 2px 2px 1px #ccc;        
  }  
    .header-content{
        align-self: right;
        color: black;
        padding-right: 3px; 
        font-size: small;
    }
    
    a:link {
        color:black;
        background-color: none;
        text-decoration: none;
    }
      a:hover {
        color:black !important;
        text-decoration: none !important; 
        font-weight: bold !important;
    }
    
    .input-fields{
        background-color: #F6F6F6 !important;
        border-radius: none !important;        
    }
    .search-button{
        width: 186px;
        background-color: #ECB400;
        color: white;
        border: none;
        border-radius: 2px;
        height: 35px;
        font-size: 15px;
        text-align: center;
    }
    .image-container{
        width: 340px;
   }
   .body-container{
    font-size: medium; 
}
.location-change{
    position: absolute;
    left: 260px;
    width: 22px;
    box-shadow: 0px 3px 3px 0px #ccc;
    background-color: #FFFFFF;
    border: none;
   padding: 2px;
   margin-top: -6px;
}
.menu-items{
    text-align: center;
    box-shadow: 0px 3px 3px 0px #ccc;
    background-color:#ECB400 ;
    margin-left: 130px;
   width: 200px;
}
  
  }
  @media  screen  and (max-width:450px){
    .logo{
        font-size: 35px;
        color:#ECB400;  
        padding-right: 180px;  
    }
    .location-change{
        position: absolute;
        left: 300px;
        width: 22px;
        box-shadow: 0px 3px 3px 0px #ccc;
        background-color: #FFFFFF;
        border: none;
       padding: 2px;
       margin-top: -6px;
    }
  }