.row{
    display: flex;
    flex-wrap: wrap;
    margin-right:2px;
}
.logo{
    font-size: 35px;
    color:black;
    padding-left: 10px;
    font-style: italic;

}

.formgroup{
    display: inherit;
    flex-wrap: wrap;
    margin-left: -15px;
}
.header-container{
      box-shadow: 1px 2px 2px 1px #ccc;
}  
.header-content{
    align-self: center;
    color: black;
    padding-right: 60px;
    

}
 .search-button{
    width: 200px;
    background-color: #ECB400;
    color: black;
    border: none;
    border-radius: 2px;
    height: 35px;
    font-size: 15px;
    text-align: center;
 }
 .login{
    align-self: center;
    background-color:black;
    color:white;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 35px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
 }
 .body-container{
     font-size: small;    

 }
 .image-container{
     width: 609px;
 }
.input{
    background-color: #F6F6;
}
a:link {
    color:black;
    background-color: none;
    text-decoration: none;
}
  a:hover {
    color: #ECB400 !important;
    text-decoration: none !important; 
   
}
.homepage{
    background-color: #F1F3FB;
}
