.row{
    display: flex;
    flex-wrap: wrap;
    margin-right:2px;
}
.logo{
    font-size: 35px;
    color: black;
    padding-left: 16px;

}

.formgroup{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.header-container{
      background-color:whitesmoke;
      width:100%;
      height: auto;
}  
.header-content{
    align-self: flex-end;
    color: black;
    padding-right: 60px;
}
 .search-button{
    width: 200px;
    background-color: #ECB400;
    color: black;
    border: none;
    border-radius: 2px;
    height: 35px;
    font-size: 15px;
    text-align: center;
 }
 .login{
    align-self: flex-end;
    background-color:black;
    color:white;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 35px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
 }
 .body-container{
     font-size: small;    

 }
 .image-container{
     height: 524px;
     width: 609px;
     padding-left: 50px;
 }
.input{
    background-color: #F6F6;
}